.nav {
    min-height: 72px;
    background-color: var(--dark-black-l20);
    display: flex;
    align-items: center;
    position: relative;

    &-body {
        display: flex;
        align-items: center;
    }

    &-logo {
        color: var(--dark-white-main);
        font-size: 20px;
    }

    &-menu {
        display: flex;
        align-items: center;
        margin: 0 var(--gap-md) 0 auto;

        & > *:not(:last-child) {
            margin: 0 var(--gap-lg) 0 0;
        }

        &-link {
            font-weight: 500;
            font-size: 18px;
            color: var(--dark-white-d20);
            transition: color ease var(--duration);

            &.router-link-active {
                color: var(--dark-white-main);
            }
        }
    }

    &-burger {
        display: none;
    }

    @media (max-width: 768px) {
        &-menu {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            background-color: var(--dark-black-bg);
            backdrop-filter: blur(14px);
            -webkit-backdrop-filter: blur(14px);
            margin: 0;
            flex-direction: column;
            z-index: 10;
            height: 0;
            transition: height ease var(--duration);
            overflow: hidden;

            & > * {
                margin: var(--gap-md) 0 0 0 !important;

                &:last-child {
                    margin-bottom: var(--gap-md) !important;
                }
            }
        }

        &-avatar {
            margin: 0 0 0 auto;
        }

        &-burger {
            display: flex;
        }
    }
}
